    :root {
    
        --colorredback: rgb(235, 65, 53);
        --colorredtext: rgb(235, 65, 53);
        --colorblackback: rgb(5, 5, 5);
        --colorblacktext: rgb(5, 5, 5);
        --colorheader: rgb(235, 65, 53);
        --btnborder: rgb(17, 17, 17);
        }
    

        